# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Node
node_modules/


# Models
*.pkl

# Large datasets
*.csv

# Trained models
ml/*.pkl
ml/*.csv